.todo-container{
    width: 100vw;
    height: 100vh;
    background-color: #f5f7f9;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.todo-input-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: 150px;
    color: #fff;
    padding: 10px;
    background-color:#183b74;
}

.todo-input-element{
    border-radius: 5px;
}

.todo-input-section h1{
    text-align: center;
}

.todo-input-body{
    display: flex;
    align-items: center;
    gap: 10px;
}


.todo-list-section{
    background-color: rgb(243, 250, 223);
    width: 100%;
    height: calc(100vh - 0px);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-direction: column;
    align-items: center;
}

.todo-items-body{
    overflow: auto;
    max-height: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;  
    flex-grow: 1;  
    min-width: 100px;
    width: 100%;
    max-width: 100%;
}

.todo-list-item{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.todo-item-value{
    flex-grow: 1;
    /* min-width: 100px; */
    width: 100%;
    line-height: 24px;
    /* max-width: 100%; */
    /* overflow: hidden;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; */
}
